@for $i from 0 to 60 by 4 {
  .u-mt$(i) { margin-top: $(i)px !important; }
  .u-mr$(i) { margin-right: $(i)px !important; }
  .u-ml$(i) { margin-left: $(i)px !important; }
  .u-mb$(i) { margin-bottom: $(i)px !important; }
}

@for $i from 0 to 60 by 4 {
  .u-pt$(i) { padding-top: $(i)px !important; }
  .u-pr$(i) { padding-right: $(i)px !important; }
  .u-pl$(i) { padding-left: $(i)px !important; }
  .u-pb$(i) { padding-bottom: $(i)px !important; }
}

.u-colorWhite {
  color: #fff !important;
}

.u-block {
  display: block !important;
}
